
services:

  # socket service
  socket:
    build: "./"
    container_name: pulsar-socket
    restart: always
    volumes:
      - .:/app
    ports:
     - "3001:3001"
    # comand: npm run start
    environment:
      PORT: 3001
      ACCESS_TOKEN: g4rren-dansukdfrang
      POOL_TOKEN: g4rren-sdffg
      DATABASE_URL: postgresql://postgres:password@192.168.100.46:5432/postgres?schema=postgres